snippet %
	{% ${1} %}
snippet {
	{{ ${1} }}
snippet extends
	{% extends "${1:base.html}" %}
snippet load
	{% load ${1} %}
snippet block
	{% block ${1} %}${2}{% endblock %}
snippet blockn
	{% block ${1} %}
		${2}
	{% endblock %}
snippet if
	{% if ${1} %}${2}{% endif %}
snippet ifn
	{% if ${1} %}
		${2}
	{% endif %}
snippet for
	{% for ${1:object} in ${2:object_list} %}${3}{% endfor %}
snippet forn
	{% for ${1:object} in ${2:object_list} %}
		${3}
	{% endfor %}
