snippet doctype
	<!doctype html>
snippet html
	<html lang="${1:en}">
	${2}
	</html>
snippet head
	<head>
		<meta charset="utf-8">
		<title>${1}</title>
	</head>
snippet scriptsrc
	<script src="${1}"></script>
snippet link
	<link rel="${1:stylesheet}" href="${2}">
