[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/vim-scripts/AutoClose.git
